footer
  .container.text-center
    p.float-left © 2018 Herman Fassett
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/HermanFassett/kassia-app') GitHub Project
      li.list-inline-item
        a(href='https://github.com/HermanFassett/kassia-app/issues') Issues
