extends ../layout

block content
    h3 App

    .row
        .col-md-6
            p XML is uploaded to server and processed with Python
            form(method='POST', action='/app/convert')
                input(type='hidden', name='_csrf', value=_csrf)
                textarea.form-control(name='xmlText', placeholder='Enter XML here')
                button.btn.btn-primary(type='submit') Submit