extends ../layout

block variables
    - var container_class = 'container-fluid'
block content
    script.
        projectXML = "#{xml}";
    .row
        .col-md-6.score-render
            form(id='renderForm', method='POST', action='/convert/' + (id || ''), target='scoreRender')
                input(type='hidden', name='_csrf', value=_csrf)
                div(id='editor')
                button.btn.btn-block.btn-primary(type='submit') Render

        if (pdf)
            iframe.score-render.col-md-6(name='scoreRender', frameborder='0', src=pdf)
        else 
            iframe.score-render.col-md-6(name='scoreRender', frameborder='0')